:root {
    --Violet: hsl(257, 40%, 49%);
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: white;
    background-image: url(./images/bg-mobile.svg);
    background-color: var(--Violet);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    /* overflow: hidden; */
}

.wrapper {
    margin: 35px;
}

.header {
    width: 30%;
    margin-bottom: 55px;
}

.header img {
    max-width: 100%;
}

.mockups img {
    max-width: 100%;
}

.introductory-section {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.introductory-section h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.btn-register {
    width: 200px;
    height: 40px;
    margin-top: 10px;
    color: var(--Violet);
    background-color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.footer {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 70px;
}

.social-media {
    display: inline-block;
    width: 2em;
    height: 2em;
    background-size: 0.8em 0.8em;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid white;
    border-radius: 50%;
}

.social-media.facebook {
    background-image: url(./images/facebook.svg);
}

.social-media.twitter {
    background-image: url(./images/twitter.svg);
    margin: 0 5px;
}

.social-media.instagram {
    background-image: url(./images/instagram.svg);
}

@media screen and (min-width: 1023px) {
    body {
        background-image: url(./images/bg-desktop.svg);
        background-size: cover;
        background-position: center left;
        margin-left: 40px;
        margin-right: 50px;
    }
    .wrapper {
        margin-right: 0;
    }
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mockups img {
        max-width: 45vw;
    }
    .introductory-section {
        text-align: initial;
        max-width: 45vw;
    }
    .introductory-section h1 {
        font-size: 30px;
    }
    .introductory-section p {
        font-size: 15px;
    }
    .btn-register {
        width: 180px;
        height: 50px;
    }
    .footer {
        text-align: right;
        font-size: 20px;
        margin-top: initial;
    }
}

@media screen and (min-width: 1439px) {
    .wrapper {
        margin-right: 35px;
    }
    .mockups img {
        max-width: initial;
    }
    .introductory-section p {
        font-size: 17px;
    }
    .introductory-section h1 {
        font-size: 40px;
    }
}